{% load static %}
<style>

    .my-auto{
        margin-block: auto;
    }
</style>
<div class="container  d-flex justify-content-center align-items-center py-5">
    <div class="content-wrapper w-100">
        <h1>change password</h1>
<h6>{% for i in messages %}
{{i}}
{% endfor %}
</h6>
<form action="{% url 'chpassword' %}" method="post" enctype="multipart/form-data " class="grid">
    {% csrf_token %}
<input type="password" name="old" placeholder="old password" class="form-control">
<input type="password" name="new" placeholder="new password"class="form-control" >
<input type="password" name="con" placeholder="confirm password" class="form-control">
<input type="submit" value="change" class="form-control btn btn-info">
</form>
    </div>
</div>
