{% extends 'baseuser.html' %}
{% block content %}
{% load static %}
<style>
    .container-fluid{
        min-height: fit-content;
    }
    .img{
        width: 100px;
        height: 100px;
        /* background-repeat: no-repeat; */
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        display: flex;
        overflow: hidden;
    }
    .w{
        width: 100px;
        text-align: center;
    
    }
</style>
<div class="py-5">
{% include 'search.html'  %}


    
{% include 'viewproviders.html'  %}

</div>
{% endblock %}