{% extends 'baseadmin.html' %}
{% block content %}
{% load static %}




<div class="container grid  align-items-center">
    <div class="content-wrapper">
        <h1>Edit department</h1>
<h6>{% for i in messages %}
{{i}}
{% endfor %}</h6>

<form action="{% url 'e_dep' data.id %}" method="post" enctype="multipart/form-data" class="grid">
    {% csrf_token %}
    <input type="text" name="name" value="{{data.name}}" class="form-control">
    <input type="text" name="description" value="{{data.description}}"  class="form-control">
    <input type="file" name="image" value="{{data.image}}" class="form-control">
    <input type="submit" value="update"  class="form-control btn btn-info">
</form>

    </div>
</div>
{% endblock %}