
{% extends 'baseadmin.html' %}
{% block content %}

<style>
        span{
            font-weight: bold;
        }
        .ap{
                color: green;
        }
        .re{
            color: red;
        }
        .pe{
            color: orange;
        }
</style>
<div class="container-fluid d-flex flex-column justify-content-center align-items-center py-5">


<h1>History</h1>
{% if data %}

{% for i in data|dictsortreversed:"date" %}

<div class="content-wrapper mb-2 grid w-sm-75 w-100" >

     <div class="row">

        <div class="col-sm-7">
                <p><span>Name        : </span> {{i.user.user.first_name}} {{i.user.user.last_name}}</p>
                <p><span>Department  : </span> {{i.service.department.name}}</p>
                <p><span>Service     : </span> {{i.service.name}}</p>
                <p><span>Location    : </span> {{i.location}}</p>
                <p><span>Details     : </span> {{i.details}}</p>
                <p><span>Date        : </span> {{i.date}}</p>
                <p><span>Work status        : </span> {%  if i.c_status == 1 %} <span class="ap"> Completed</span>  {% else %} <span class="pe"> Pending</span>{% endif %}</p>
 
        </div>
        <div class="col-sm-5 p3">
                <div class="img">
                        <img src="{{i.image.url}}" alt="" height="150px">
                </div>
                <p>{%  if i.a_status == 1 %} <span class="ap"> Accepted</span> {% elif i.a_status == 2 %} <span class="re"> Rejected</span> {% else %} <span class="pe"> Pending</span>{% endif %}</p>


        </div>
     </div>
        



</div>

{% endfor %}

{% else %}
<div class="content-wrapper d-flex justify-content-center align-items-center w-100">
        <h1>No History</h1>
</div>
{% endif %}
</div>

        {% endblock %}