{% extends 'baseadmin.html' %}
{% block content %}
{% load static %}


<style>
    .mx-w-500{
        max-width: 500px;
        margin: 0 auto;
    }
    @media (width < 500px) {
        .content-wrapper{
            padding: 20px 5px 20px 5px;
            border-radius: 5px;
            margin: 0;
        }
        
    }
</style>

<div class="container  d-flex  align-items-center">
    <div class="content-wrapper w-100 mx-w-500">
        <h1 class="mb-3">Register Service</h1>
        <h6>
            {% for i in messages %}
            {{i}}
            {% endfor %}

        </h6>

        <form action="{% url 'r_serv' %}" method="post" class="grid">
            {% csrf_token %}
            <label for="name">Service Name</label>
            <input type="text" name="name"  class="form-control" placeholder="Service name">
            <label for="description">Description</label>
            <input type="text" name="description" value=""  class="form-control" placeholder="Description">
            <label for="depatment">Department</label>
            <select name="depatment" id=""  class="form-control">
                {% for i in data %}
                {% if i.id == data.department.id %}
                <option value="{{i.id}}" selected >{{i.name}}</option>
                {% else %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="Register"  class="form-control btn btn-info">
        </form>
    </div>
</div>



{% endblock %}