{% extends 'baseworker.html' %}
 
 {% block content %}
 {% load static %}
<style>
        .br{
        border-right: 1px solid rgba(247, 79, 219, 0.818);

    }
    .bl{
        border-left: 1px solid rgba(247, 79, 219, 0.818);

    }
    .bold{
        font-weight: bold;
        position: relative;
    }
    p{
        display: grid;
        grid-template-columns: 15ex 1fr;
        grid-gap: 10px;
        border-bottom: 1px solid rgba(198, 193, 197, 0.818);
        padding: 5px;
    }
    .gap-20{
        gap: 20px;
    }

    .text{
        padding-left:20px ;
    }
    .bold::after{
        content: ':';
        position: absolute;
        right: 5px;
    }
    @media (width < 500px) {
        p{
            grid-template-columns:  1fr;        }
    
    .bold::after{
        right:210px;
    }
}
</style>
<div class="container  d-flex   align-items-center py-5">
    <div class="content-wrapper w-100  ">
        <h1>Current Tasks</h1>
        <h6>{% for i in messages %}
        {{i}}
        {% endfor %}</h6>
                {% for i in data %}
        <div class="content-wrapper mb-2">
            <div class="row">
                <div class="col-sm-6 p-3 br">
                    <h4>Customer Details</h4>
                    <hr>
                    <p><span class="bold">Name       </span> <span class="text">{{i.user.user.first_name}} {{i.user.user.last_name}}</span> </p>
                    <p><span class="bold">Email      </span> <span class="text">{{i.user.user.email}}</span></p>
                    <p><span class="bold">Phone      </span> <span class="text">{{i.user.phone}}</span></p>
                    <p><span class="bold">Address    </span> <span class="text">{{i.user.address}}</span></p>
                    <p><span class="bold">Change status    </span> <span class="text">{% if i.c_status == 0 %}<a href="{% url 'complete' i.id %}" class="btn btn-primary">>completed </a>{% elif i.c_status == 1 %}<a href="{% url 'pending' i.id %}" class="btn btn-warning">> >pending</a>{% endif %}</span></p>
                    
                </div>
                <div class="col-sm-6 p-3 bl">
                     <h4>Request Details</h4>
                     <hr>
                    <p><span class="bold">Details       </span> <span class="text">{{i.details}}</span> </p>
                    <p><span class="bold">Locatiom      </span> <span class="text">{{i.location}}</span></p>
                    <p><span class="bold">Date      </span> <span class="text">{{i.date}}</span></p>
                    <p><span class="bold">service    </span> <span class="text">{{i.service.name}}</span></p>
                    <p><span class="bold">Current Status    </span>{% if i.c_status == 0 %} <span class="text badge badge-warning p-2">pending</span>{% elif i.c_status == 1 %} <span class="text badge badge-primary p-2">Completed</span>{% endif %}</p>

                </div>
            </div>
        </div>
        {% empty %}
<h3>No tasks found</h3>
         {% endfor %}
    </div>
</div>
        
       




{% endblock %}