{% extends 'baseadmin.html' %}
{% block content %}
{% load static %}
<style>
    .img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top
    }
    .img-container{
        display: flex;
        justify-content: center;
        align-items: center;;

    }
    
    .radius-10{
        border-radius: 10px;
    }
    .br{
        border-right: 1px solid rgba(247, 79, 219, 0.818);

    }
    .bl{
        border-left: 1px solid rgba(247, 79, 219, 0.818);

    }
    .bold{
        font-weight: bold;
        position: relative;
    }
    p{
        display: grid;
        grid-template-columns: 15ex 1fr;
        grid-gap: 10px;
    }
    .gap-20{
        gap: 20px;
    }

    .text{
        padding-left:20px ;
    }
    .bold::after{
        content: ':';
        position: absolute;
        right: 5px;
    }
    @media (width < 500px) {
        p{
            grid-template-columns:  1fr; }
    
    .bold::after{
        right:210px;
    }
}
</style>

<div class="container-fluid d-flex justify-content-center align-items-center py-5">
    <div class="content-wrapper grid">
        <div class="img-container">
            {% if data.image %}
            <div class="img" style="background-image: url('{{data.image.url}}');"></div>  
            {% else %}      
            <div class="img" ></div>  
            {% endif %}
            

        </div>
        <div class="row">
            <div class="col-sm-8 p-3 br">
                <p><span class="bold">Name       </span> <span class="text">{{data.user.first_name}} {{data.user.last_name}}</span> </p>
                <p><span class="bold">Username   </span> <span class="text">{{data.user.username}}</span></p>
                <p><span class="bold">Email      </span> <span class="text">{{data.user.email}}</span></p>
                <p><span class="bold">Phone      </span> <span class="text">{{data.phone}}</span></p>
                <p><span class="bold">Address    </span> <span class="text">{{data.address}}</span></p>
                <p><span class="bold">Email      </span> <span class="text">{{data.user.email}}</span></p>
                <p><span class="bold">Department </span> <span class="text-center">{% if data.department.status == 1 %}<a href="{% url 'approveserv' data.service.id %}" class="btn btn-warning">department not approved</a>{% else %}{{data.department.name}}{% endif %}</span></p>
                <p><span class="bold">Service    </span> <span class="text-center">{% if data.service.status == 1 %} <a href="{% url 'approveserv' data.service.id %}" class="btn btn-warning">service not approved</a>{% else %}{{data.service.name}}{% endif %}</span></p>
                
            </div>
          
            <div class="col-sm-4 p-3 bl">
                <div class="form-group">
                    
                <label for=""><span>Id proof :</span></label>
                <div class="img-container grid">
                    <div class="img radius-10" style="background-image: url('{{data.id_proof.url}}');"></div> 
                    <a href="{{data.id_proof.url}}" download class="btn btn-sm btn-outline-primary ml-2">Download</a>       
                </div>

                </div>
                <div class="form-group">
                    
                <label for=""><span>Proof  of service provider:</span></label>
                <div class="img-container">
                    <div class="img radius-10" style="background-image: url('{{data.file.url}}');"></div>  
                    <a href="{{data.file.url}}" download class="btn btn-sm btn-outline-primary ml-2">Download</a>      
                </div>

                </div>
            </div>


      
    </div>
    <div class="d-flex  justify-content-center gap-20">
    {% if data.user.status == 1 %}
            <button href="" class="btn btn-info" aria-disabled="true">Approved</button>
            {% elif data.user.status == 0 %}
            {% if data.department.status == 1 or data.service.status == 1 %}
             <a href=""  class="btn btn-info " data-toggle="modal" data-target="#myModalinfo">Approve</a>    <a href=""  class="btn btn-danger " data-toggle="modal" data-target="#myModalinfo">Reject</a>         {% else %}
            <div class="d-flex gap-20"> <a href="{% url 'approveworker' data.user.id %}" class="btn btn-info">Approve</a> <a href=""  class="btn btn-danger " data-toggle="modal" data-target="#myModal{{data.user.id }}">Reject</a></div>
            {% endif %}
            {% endif %}
        </div>

</div>
</div>


   
   <div class="modal" id="myModalinfo">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header btn-info">
          <h4 class="modal-title">Info</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
Please approve both department and service first.
       </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
   
   <div class="modal" id="myModal{{data.user.id}}">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header btn-danger">
          <h4 class="modal-title">Confirm</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         Do you want to Delete the user    {{i.user.username}} ?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
          <a href="{% url 'rejectworker' data.user.id %}" class="btn btn-danger">Reject</a>
        </div>
        
      </div>
    </div>
  </div>
  {% endblock %}
